.loading{
    width: 100%;
    height: auto;
    padding: 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    span{
        width: 75px;
        height: 170px;
        background: $white;
        transform-origin: 100% 100%;
    }

    @for $i from 1 through 3{
        :nth-child(#{$i}){
            animation: loading-animation 0.8s #{$i * 0.3s} forwards alternate-reverse infinite;
        }
    }

}

@keyframes loading-animation{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}