@mixin transition-ease {
  transition: all 1.5s ease-in-out;
}

@mixin big-screen {
  @media screen and (min-width: 850px) {
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin section {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
