@mixin transition-ease {
  transition: all 1s ease-in-out;
}

@mixin nav-b {
  @media screen and (min-width: 800px) {
    @content;
  }
}

.home {
  width: 100%;
  height: 100vh;
  background: black;
}

.navbar {
  @import "./home";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $textLight;
  background: $primary;

  &-center {
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-left: 2rem;
  }

  .links {
    position: absolute;
    top: 0;
    left: 100%;
    background: $secondary;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    @include transition-ease();

    @include nav-b() {
      position: initial;
      height: 100%;
      width: 50%;
      background: transparent;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
          padding: 1rem 3rem;

          a:hover {
            color: $textDark;
          }
        }
      }

      // background: transparent;
    }

    li {
      padding: 2.5rem;
      list-style: none;

      a {
        text-decoration: none;
        color: $textLight;
        font-size: 1.2rem;

        &:hover {
          color: $primary;
        }
      }
    }

    &-active {
      left: 0%;
    }
  }

  .btn-container {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;

    @include nav-b() {
      position: absolute;
      opacity: 0;
    }

    .links-btn {
      margin-right: 2rem;
      width: 1.8rem;
      height: 0.3rem;
      background: $textLight;
      border: none;
      border-radius: 25%;
      transition: all 1s ease-in;
      z-index: 3;

      &::before {
        content: "";
        display: block;
        @extend .links-btn;
        position: relative;
        bottom: 0.7rem;
      }

      &::after {
        content: "";
        display: block;
        @extend .links-btn;
        position: relative;
        top: 0.4rem;
      }

      &-active {
        opacity: 1;
        background: $primary;
        transform: rotate(225deg);
        &::before {
          opacity: 0;
        }
        &::after {
          background: $primary;
          transform: rotate(270deg) translateX(0.7rem);
        }
      }
    }
  }
}
