#featured{
    background: $primary;
    width: 100%;
    padding: 4rem 0;
    z-index: 1;
    

    h2{
        color: $white;
        margin-left: 4rem;
    }

    .featured-center{
        width: 100%;
        height: 37rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        $distance : 30rem;

        .card{
            position: absolute;
            transition: ease 1s;
        }
        .default-card{
            transform: translateX(60rem) ;
            opacity: 0;
            z-index: -1;
        }
        .next-card{
            transform: translateX($distance) ;
        }
        .prev-card{
            transform: translateX(-$distance);
        }
        span{
            font-size: 4rem;
            position: absolute;
            cursor: pointer;
            color: $white;

           
        }
        

        .btn-next{
            transform: translate(15rem);
            &:active {
                transform: scale(0.97) translateX(15rem);
            }
        }

        .btn-prev{
            transform: translate(-15rem);
            &:active {
                transform: scale(0.97) translateX(-15rem);
            }
        }

    }
    
    .btn-container{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        .btn-more{
            text-decoration: none;
            font-weight: 700;
            @include btn-white;
            padding: 0.9rem 2rem;
            margin-bottom: 0.5rem;
        }
    }
    
    @include small-screen{
        .featured-center{
            .btn-prev{
                transform: translate(-9rem);
                &:active {
                    transform: scale(0.97) translateX(-9rem);
                }
            }
            .btn-next{
                transform: translate(9rem);
                &:active{
                    transform: scale(0.97) translateX(9rem);
                }
            }
        }
    }
}

.cocktail{
    width: 17rem;
    background: $white;
    border-radius: 30px;
    padding: 1rem;
    &-hero{
        width: 100%;
        height: 15rem;
        img{
            width: 100%;
            height: 100%;
            border-radius: 30px;
        }
    }
    &-center{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 0.8rem 0;
        h3{
            font-weight: bolder;
        }
        h4{
            font-size: 1.3rem;
        }
    }
    &-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        .btn-link{
            display: block;
            text-decoration: none;
            @include btn-primary;
        }
    }
    @include medium-screen(){
        width: 15rem;
        &-hero{
            height: auto;
        }
    }

    @include small-screen(){
        padding: 0.5rem;
        width: 12rem;
        &-center{
            h3{
                font-size: 1.3rem;
            }
            h4{
                font-size: 1.1rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}