#products {
  position: absolute;
  height: 100vh;
  top: 100vh;
  left: 0;
  top: 100vh;
  left: 0;
}

.products {
  position: absolute;
  top: 9rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 100%;

  h2 {
    color: $primary;
    font-size: 2rem;
  }
  .search {
    padding: 1rem 2rem;
    font-size: 2rem;

    input {
      height: 2rem;
      width: 9rem;
      margin-left: 1rem;
    }

    .border {
      height: 0.2rem;
      width: 1rem;
      background: $primary;
      margin: auto;
      position: relative;
      bottom: 1.2rem;
      @include transition-ease;

      &::before {
        @extend .border;
        content: "";
        display: block;
        top: 5.1rem;
      }
    }
  }
  &:hover .border {
    width: 100%;
  }

  .list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    text-align: center;

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
    }

    img {
      width: 7rem;
    }

    @include medium-screen() {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;

      img {
        width: 8rem;
      }
    }

    @include big-screen() {
      grid-template-columns: repeat(3, 1fr);
      gap: 6rem 10rem;
      img {
        width: 13rem;
      }
      top: 2rem;
    }

    .cocktail {
      position: relative;
      text-decoration: none;
      border: 5px solid $primary;
      box-shadow: 0 0 30px $primary;

      &-header {
        height: 1.8rem;
        display: flex;

        align-items: center;
        justify-content: center;
        border-bottom: none;
        color: $primary;
      }

      &-info {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 85%;
        opacity: 0;
        z-index: -1;
        @include transition-ease;
      }

      &:hover .cocktail-info {
        z-index: 1;
        opacity: 0.6;
        background: linear-gradient($primary, black);
        color: $textLight;
        top: 15%;
      }
    }
  }

  .btn-more {
    margin-top: -2rem;
    padding: 0.3rem;
    font-size: 1.3rem;
    text-decoration: none;
    border: 3px solid $primary;
    color: $primary;
    background: white;
    @include transition-ease;
    transition-duration: 0.5s;

    &:hover {
      background: $primary;
      color: $textLight;
    }
  }
  @include medium-screen() {
    font-size: 1.5rem;
    position: relative;
    bottom: 1.3rem;

    input {
      width: 15rem;
    }

    .btn-more {
      margin-top: 2rem;
    }
  }
}

@keyframes load {
  0% {
    transform: scale(1);
  }
  80%,
  100% {
    transform: scale(0);
  }
}

.loading {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-top: 5rem;

  span {
    position: absolute;
    height: 100%;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 1rem;
      background: $primary;
      box-shadow: 0 0 10px $primary, 0 0 20px $primary, 0 0 40px $primary,
        0 0 60px $primary, 0 0 80px $primary, 0 0 100px $primary;
      border-radius: 50%;
      animation: load 1s linear infinite;
    }
  }
  @for $i from 1 through 20 {
    .span#{$i} {
      transform: rotate(18deg * $i);
      &::before {
        animation-delay: 0.05s * $i;
      }
    }
  }
}
