#single-product{
    background-color: $primary;
    margin-top: 6rem;display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.single-product{
    background: $white;
    display: flex;
    width: 80%;
    min-height: 35rem;
    border-radius: 30px;

    &-hero{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-height: 100%;
            max-width: 100%;
            border-radius: 30px;
        }
    }
    &-center{
        width: 50%;
        padding: 3rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h2{
            font-weight: bolder;
        }
        
        h3{
            font-family: $lora;
            font-weight: 100;
            font-size: 1.3rem;
        }

        .info{
            font-weight: 600;
            font-size: 1.5rem;
        }   
    }
    .btn{
        text-decoration: none;
        @include btn-primary;
        width: fit-content;
        margin-top: 1rem;
    }

    @include medium-screen(){
        flex-direction: column;
        height: auto;
        &-hero{
            width: 100%;
            img{
                width: 100%;
                height: auto;
                
            }
        }
        &-center{
            width: 80%;
        }
    }

    @include small-screen{
        &-center{
            padding: 3rem 1.5rem;
            h2{
                font-size: 1.5rem;
            }
            h3,p,.btn{
                font-size: 1rem;
            }
            .info{
                font-size : 1rem
            }
        }
    }
}

