::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #012;
}

::-webkit-scrollbar-thumb {
  background: #ff1020;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

#about {
  position: absolute;
  top: 200vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #012;
}

.contact {
  position: absolute;
  top: 7rem;
  width: 90%;
  left: 5%;
  height: auto;
  color: #fff;
  font-size: 1.8rem;
}

.contact h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
}

.contact-center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 1rem;
}

.contact-center article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-center label {
  font-size: 1rem;
  padding: 0.5rem;
}

.contact-center input {
  height: 1.2rem;
  width: 70%;
  text-align: center;
}

.contact-center textarea {
  margin-top: 3em;
  height: 2.5rem;
  width: 80%;
}

@media screen and (min-width: 500px) {
  .contact-center {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
  }
  .contact-center #textarea {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .contact-center #textarea textarea {
    height: 6rem;
  }
}

@media screen and (min-width: 850px) {
  .contact-center input {
    width: 50%;
  }
  .contact-center #textarea textarea {
    width: 30%;
    height: 6rem;
  }
}

@media screen and (min-width: 500px) {
  .contact h2 {
    font-size: 2rem;
  }
}

footer {
  width: 100%;
  background: #ff1020;
  position: absolute;
  bottom: 0%;
}

footer .social {
  margin: auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem;
}

footer .social ul li {
  list-style: none;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

footer .social ul li a {
  color: #fff;
  font-size: 2rem;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

footer .social ul li:hover {
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
}

footer .social ul li:hover a {
  color: #012;
}

.navbar {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #ff1020;
}

.navbar-center {
  margin-left: 2em;
}

.navbar-center img {
  width: 12em;
  padding: 1rem;
}

.navbar .links {
  position: absolute;
  top: 0;
  left: 100%;
  background: #222;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

@media screen and (min-width: 850px) {
  .navbar .links {
    position: initial;
    height: 100%;
    width: 50%;
    background: transparent;
  }
  .navbar .links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .links ul li {
    padding: 1rem 3rem;
  }
  .navbar .links ul li a:hover {
    color: #012;
  }
}

.navbar .links li {
  padding: 2.5rem;
  list-style: none;
}

.navbar .links li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.navbar .links li a:hover {
  color: #ff1020;
}

.navbar .links-active {
  left: 0%;
}

.navbar .btn-container {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 850px) {
  .navbar .btn-container {
    position: absolute;
    opacity: 0;
  }
}

.navbar .btn-container .links-btn, .navbar .btn-container .links-btn::before, .navbar .btn-container .links-btn::after {
  margin-right: 2rem;
  width: 1.8rem;
  height: 0.3rem;
  background: #fff;
  border: none;
  border-radius: 25%;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  z-index: 3;
}

.navbar .btn-container .links-btn::before {
  content: "";
  display: block;
  position: relative;
  bottom: 0.7rem;
}

.navbar .btn-container .links-btn::after {
  content: "";
  display: block;
  position: relative;
  top: 0.4rem;
}

.navbar .btn-container .links-btn-active {
  opacity: 1;
  background: #ff1020;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.navbar .btn-container .links-btn-active::before {
  opacity: 0;
}

.navbar .btn-container .links-btn-active::after {
  background: #ff1020;
  -webkit-transform: rotate(270deg) translateX(0.7rem);
          transform: rotate(270deg) translateX(0.7rem);
}

@-webkit-keyframes logo {
  50% {
    color: black;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo {
  50% {
    color: black;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.home {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), to(#555));
  background-image: linear-gradient(black 50%, #555);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-center {
  width: 100%;
  height: 90%;
}

.home-center h1 {
  color: white;
}

.home-center .image {
  border: 5px solid white;
  -webkit-box-shadow: 0 0 20px white, 0 0 40px white;
          box-shadow: 0 0 20px white, 0 0 40px white;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  position: absolute;
  opacity: 1;
  left: 20%;
  bottom: 15%;
  width: 60%;
}

.home-center img {
  width: 100%;
}

.home-center .left {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
}

.home-center .right {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
}

.home-center button {
  bottom: 5%;
  -webkit-transform: scale(2);
          transform: scale(2);
  background: transparent;
  border: none;
  color: #ff1020;
}

.home-center button:hover {
  color: white;
}

.home-center #btn-left {
  position: absolute;
  left: 40%;
}

.home-center #btn-right {
  position: absolute;
  left: 60%;
}

@media screen and (max-width: 900px) {
  .home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
  }
  .home-center {
    position: relative;
    height: 50%;
  }
  .home-center button {
    bottom: -4rem;
  }
}

#products {
  position: absolute;
  height: 100vh;
  top: 100vh;
  left: 0;
  top: 100vh;
  left: 0;
}

.products {
  position: absolute;
  top: 9rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  width: 100%;
}

.products h2 {
  color: #ff1020;
  font-size: 2rem;
}

.products .search {
  padding: 1rem 2rem;
  font-size: 2rem;
}

.products .search input {
  height: 2rem;
  width: 9rem;
  margin-left: 1rem;
}

.products .search .border, .products .search .border::before {
  height: 0.2rem;
  width: 1rem;
  background: #ff1020;
  margin: auto;
  position: relative;
  bottom: 1.2rem;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.products .search .border::before {
  content: "";
  display: block;
  top: 5.1rem;
}

.products:hover .border, .products:hover .search .border::before {
  width: 100%;
}

.products .list {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 2rem;
  text-align: center;
}

.products .list h3 {
  font-size: 1.5rem;
}

.products .list h4 {
  font-size: 1.2rem;
}

.products .list p {
  font-size: 1rem;
}

.products .list img {
  width: 7rem;
}

@media screen and (min-width: 500px) {
  .products .list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .products .list img {
    width: 8rem;
  }
}

@media screen and (min-width: 850px) {
  .products .list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 6rem 10rem;
    top: 2rem;
  }
  .products .list img {
    width: 13rem;
  }
}

.products .list .cocktail {
  position: relative;
  text-decoration: none;
  border: 5px solid #ff1020;
  -webkit-box-shadow: 0 0 30px #ff1020;
          box-shadow: 0 0 30px #ff1020;
}

.products .list .cocktail-header {
  height: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
  color: #ff1020;
}

.products .list .cocktail-info {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 85%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.products .list .cocktail:hover .cocktail-info {
  z-index: 1;
  opacity: 0.6;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff1020), to(black));
  background: linear-gradient(#ff1020, black);
  color: #fff;
  top: 15%;
}

.products .btn-more {
  margin-top: -2rem;
  padding: 0.3rem;
  font-size: 1.3rem;
  text-decoration: none;
  border: 3px solid #ff1020;
  color: #ff1020;
  background: white;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.products .btn-more:hover {
  background: #ff1020;
  color: #fff;
}

@media screen and (min-width: 500px) {
  .products {
    font-size: 1.5rem;
    position: relative;
    bottom: 1.3rem;
  }
  .products input {
    width: 15rem;
  }
  .products .btn-more {
    margin-top: 2rem;
  }
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes load {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.loading {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-top: 5rem;
}

.loading span {
  position: absolute;
  height: 100%;
  width: 100%;
}

.loading span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: #ff1020;
  -webkit-box-shadow: 0 0 10px #ff1020, 0 0 20px #ff1020, 0 0 40px #ff1020, 0 0 60px #ff1020, 0 0 80px #ff1020, 0 0 100px #ff1020;
          box-shadow: 0 0 10px #ff1020, 0 0 20px #ff1020, 0 0 40px #ff1020, 0 0 60px #ff1020, 0 0 80px #ff1020, 0 0 100px #ff1020;
  border-radius: 50%;
  -webkit-animation: load 1s linear infinite;
          animation: load 1s linear infinite;
}

.loading .span1 {
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

.loading .span1::before {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.loading .span2 {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}

.loading .span2::before {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loading .span3 {
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}

.loading .span3::before {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.loading .span4 {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}

.loading .span4::before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading .span5 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.loading .span5::before {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loading .span6 {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.loading .span6::before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loading .span7 {
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}

.loading .span7::before {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.loading .span8 {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}

.loading .span8::before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading .span9 {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}

.loading .span9::before {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.loading .span10 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.loading .span10::before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading .span11 {
  -webkit-transform: rotate(198deg);
          transform: rotate(198deg);
}

.loading .span11::before {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.loading .span12 {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

.loading .span12::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading .span13 {
  -webkit-transform: rotate(234deg);
          transform: rotate(234deg);
}

.loading .span13::before {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.loading .span14 {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}

.loading .span14::before {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loading .span15 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.loading .span15::before {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.loading .span16 {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}

.loading .span16::before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loading .span17 {
  -webkit-transform: rotate(306deg);
          transform: rotate(306deg);
}

.loading .span17::before {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.loading .span18 {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}

.loading .span18::before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loading .span19 {
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
}

.loading .span19::before {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}

.loading .span20 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.loading .span20::before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loading-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-product {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #012), to(#ff1020));
  background: linear-gradient(90deg, #012 40%, #ff1020);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-product .single-product {
  padding: 0.3rem 0;
  width: 100%;
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

#single-product .single-product-header {
  width: 80%;
}

#single-product .single-product-header img {
  width: 11rem;
  border-radius: 25%;
  opacity: 0.8;
}

#single-product .single-product-header h2 {
  font-size: 1.5rem;
}

#single-product .single-product-center {
  font-size: 0.7rem;
  width: 90%;
}

#single-product .single-product-center h3 {
  font-size: 0.7rem;
}

#single-product .single-product-center .info {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

#single-product .single-product-center p {
  font-size: 1rem;
}

#single-product .single-product .btn {
  margin: 0.7rem 0;
  padding: 0.5rem;
  color: #fff;
  background: #ff1020;
  border-radius: 10%;
  text-decoration: none;
  font-size: 0.8rem;
}

#single-product .single-product .btn:hover {
  background: #e04d4d;
}

@media screen and (min-width: 500px) {
  #single-product .single-product-center {
    width: 50%;
  }
}

@media screen and (min-width: 850px) {
  #single-product .single-product {
    margin-top: 4.5rem;
  }
  #single-product .single-product-center {
    width: 40%;
  }
}
/*# sourceMappingURL=main.css.map */