@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

p, a, button {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  line-height: 2rem;
  font-weight: 500;
}

.primary-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #D10000;
  color: #fff;
}

.primary-navbar-center h2 {
  font-family: "Dancing Script", "cursive";
  font-weight: lighter;
}

.primary-navbar .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 0;
}

.primary-navbar .links ul li {
  list-style: none;
  padding: 1rem 0;
}

.primary-navbar .links ul li a {
  text-decoration: none;
  color: #fff;
}

.primary-navbar .links ul li a:hover {
  color: #000;
  font-weight: 900;
}

.primary-navbar .btn-container {
  position: absolute;
  left: 100%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.primary-navbar .btn-container .line {
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 30px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

@media screen and (max-width: 650px) {
  .primary-navbar .links {
    -webkit-transition: 1s ease;
    transition: 1s ease;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0;
    left: 100%;
  }
  .primary-navbar .links ul {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .primary-navbar .links ul li {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }
  .primary-navbar .links ul li:hover {
    background: #ccc8;
  }
  .primary-navbar .links ul li a {
    color: #D10000;
  }
  .primary-navbar .links-active {
    left: 0;
  }
  .primary-navbar .btn-container {
    position: static;
    margin: 2rem 0;
  }
  .primary-navbar .btn-container-active .line-1 {
    -webkit-transform: translate(30px, 10px) rotateZ(45deg);
            transform: translate(30px, 10px) rotateZ(45deg);
    background: #D10000;
  }
  .primary-navbar .btn-container-active .line-2 {
    opacity: 0;
  }
  .primary-navbar .btn-container-active .line-3 {
    -webkit-transform: translate(30px, -15px) rotateZ(-45deg);
            transform: translate(30px, -15px) rotateZ(-45deg);
    background: #D10000;
  }
}

.white-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #D10000;
  border-bottom: 2px solid #D10000;
}

.white-navbar-center h2 {
  font-family: "Dancing Script", "cursive";
  font-weight: lighter;
}

.white-navbar .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 0;
}

.white-navbar .links ul li {
  list-style: none;
  padding: 1rem 0;
}

.white-navbar .links ul li a {
  text-decoration: none;
  color: #D10000;
}

.white-navbar .links ul li a:hover {
  color: #000;
  font-weight: 900;
}

.white-navbar .btn-container {
  position: absolute;
  left: 100%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.white-navbar .btn-container .line {
  background-color: #D10000;
  width: 30px;
  height: 5px;
  border-radius: 30px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

@media screen and (max-width: 650px) {
  .white-navbar .links {
    -webkit-transition: 1s ease;
    transition: 1s ease;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0;
    left: 100%;
  }
  .white-navbar .links ul {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .white-navbar .links ul li {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }
  .white-navbar .links ul li:hover {
    background: #ccc8;
  }
  .white-navbar .links ul li a {
    color: #D10000;
  }
  .white-navbar .links-active {
    left: 0;
  }
  .white-navbar .btn-container {
    position: static;
    margin: 2rem 0;
  }
  .white-navbar .btn-container-active .line-1 {
    -webkit-transform: translate(30px, 10px) rotateZ(45deg);
            transform: translate(30px, 10px) rotateZ(45deg);
    background: #D10000;
  }
  .white-navbar .btn-container-active .line-2 {
    opacity: 0;
  }
  .white-navbar .btn-container-active .line-3 {
    -webkit-transform: translate(30px, -15px) rotateZ(-45deg);
            transform: translate(30px, -15px) rotateZ(-45deg);
    background: #D10000;
  }
}

#home {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#home .home-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 89%;
}

#home .home-center .hero {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .home-center .hero img {
  max-width: 100%;
  max-height: 100%;
}

#home .home-center .home-info {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .home-center .home-info p {
  display: block;
  width: 20rem;
  margin: 2rem;
  text-align: center;
}

#home .home-center .home-info a {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #D10000;
  color: #fff;
  text-decoration: none;
}

#home .home-center .home-info a:hover {
  background: #ff000d;
}

#home .home-center .home-info a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

@media screen and (max-width: 900px) {
  #home {
    margin-top: 6rem;
    height: auto;
  }
  #home .home-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6rem 0;
    gap: 5rem;
  }
  #home .home-center .hero {
    width: 100%;
  }
  #home .home-center .hero .img {
    max-width: 35%;
  }
  #home .home-center .home-info {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  #home .home-info p, #home .home-info a {
    font-size: 1rem;
  }
}

#featured {
  background: #D10000;
  width: 100%;
  padding: 4rem 0;
  z-index: 1;
}

#featured h2 {
  color: #fff;
  margin-left: 4rem;
}

#featured .featured-center {
  width: 100%;
  height: 37rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#featured .featured-center .card {
  position: absolute;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

#featured .featured-center .default-card {
  -webkit-transform: translateX(60rem);
          transform: translateX(60rem);
  opacity: 0;
  z-index: -1;
}

#featured .featured-center .next-card {
  -webkit-transform: translateX(30rem);
          transform: translateX(30rem);
}

#featured .featured-center .prev-card {
  -webkit-transform: translateX(-30rem);
          transform: translateX(-30rem);
}

#featured .featured-center span {
  font-size: 4rem;
  position: absolute;
  cursor: pointer;
  color: #fff;
}

#featured .featured-center .btn-next {
  -webkit-transform: translate(15rem);
          transform: translate(15rem);
}

#featured .featured-center .btn-next:active {
  -webkit-transform: scale(0.97) translateX(15rem);
          transform: scale(0.97) translateX(15rem);
}

#featured .featured-center .btn-prev {
  -webkit-transform: translate(-15rem);
          transform: translate(-15rem);
}

#featured .featured-center .btn-prev:active {
  -webkit-transform: scale(0.97) translateX(-15rem);
          transform: scale(0.97) translateX(-15rem);
}

#featured .btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

#featured .btn-container .btn-more {
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #fff;
  color: #D10000;
  padding: 0.9rem 2rem;
  margin-bottom: 0.5rem;
}

#featured .btn-container .btn-more:hover {
  color: #ff000d;
  background: #eee;
}

#featured .btn-container .btn-more:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

@media screen and (max-width: 650px) {
  #featured .featured-center .btn-prev {
    -webkit-transform: translate(-9rem);
            transform: translate(-9rem);
  }
  #featured .featured-center .btn-prev:active {
    -webkit-transform: scale(0.97) translateX(-9rem);
            transform: scale(0.97) translateX(-9rem);
  }
  #featured .featured-center .btn-next {
    -webkit-transform: translate(9rem);
            transform: translate(9rem);
  }
  #featured .featured-center .btn-next:active {
    -webkit-transform: scale(0.97) translateX(9rem);
            transform: scale(0.97) translateX(9rem);
  }
}

.cocktail {
  width: 17rem;
  background: #fff;
  border-radius: 30px;
  padding: 1rem;
}

.cocktail-hero {
  width: 100%;
  height: 15rem;
}

.cocktail-hero img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.cocktail-center {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  margin: 0.8rem 0;
}

.cocktail-center h3 {
  font-weight: bolder;
}

.cocktail-center h4 {
  font-size: 1.3rem;
}

.cocktail-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cocktail-btn .btn-link {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #D10000;
  color: #fff;
}

.cocktail-btn .btn-link:hover {
  background: #ff000d;
}

.cocktail-btn .btn-link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

@media screen and (max-width: 900px) {
  .cocktail {
    width: 15rem;
  }
  .cocktail-hero {
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .cocktail {
    padding: 0.5rem;
    width: 12rem;
  }
  .cocktail-center h3 {
    font-size: 1.3rem;
  }
  .cocktail-center h4 {
    font-size: 1.1rem;
  }
  .cocktail-center p {
    font-size: 1rem;
  }
}

.product-list {
  background: #D10000;
  margin-top: 6rem;
  padding: 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list .search {
  padding: 2rem;
}

.product-list .search label {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  margin-right: 2rem;
}

.product-list .search input {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
}

.product-list .search input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.product-list .list {
  margin: 6rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 6rem 6rem;
}

.product-list .btn-more {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #fff;
  color: #D10000;
}

.product-list .btn-more:hover {
  color: #ff000d;
  background: #eee;
}

.product-list .btn-more:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

@media screen and (max-width: 1130px) {
  .product-list .list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 5rem 5rem;
  }
}

@media screen and (max-width: 650px) {
  .product-list .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .product-list .list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#single-product {
  background-color: #D10000;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
}

.single-product {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 35rem;
  border-radius: 30px;
}

.single-product-hero {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-product-hero img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 30px;
}

.single-product-center {
  width: 50%;
  padding: 3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.single-product-center h2 {
  font-weight: bolder;
}

.single-product-center h3 {
  font-family: "Lora", serif;
  font-weight: 100;
  font-size: 1.3rem;
}

.single-product-center .info {
  font-weight: 600;
  font-size: 1.5rem;
}

.single-product .btn {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #D10000;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
}

.single-product .btn:hover {
  background: #ff000d;
}

.single-product .btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
}

@media screen and (max-width: 900px) {
  .single-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .single-product-hero {
    width: 100%;
  }
  .single-product-hero img {
    width: 100%;
    height: auto;
  }
  .single-product-center {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .single-product-center {
    padding: 3rem 1.5rem;
  }
  .single-product-center h2 {
    font-size: 1.5rem;
  }
  .single-product-center h3, .single-product-center p, .single-product-center .btn {
    font-size: 1rem;
  }
  .single-product-center .info {
    font-size: 1rem;
  }
}

#footer {
  position: relative;
  background: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  color: #fff;
}

#footer .footer-text {
  font-size: 1.2rem;
  font-family: "Lora", serif;
}

#footer .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 2.5rem;
  height: 100%;
}

#footer .footer-icons span {
  cursor: pointer;
}

#footer .footer-icons span:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 900px) {
  #footer .footer-text {
    font-size: 1.2rem;
  }
  #footer .footer-icons {
    font-size: 2rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 650px) {
  #footer .footer-text {
    font-size: 0.9rem;
  }
  #footer .footer-icons {
    font-size: 1.5rem;
    gap: 1rem;
  }
}

.loading {
  width: 100%;
  height: auto;
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.loading span {
  width: 75px;
  height: 170px;
  background: #fff;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.loading :nth-child(1) {
  animation: loading-animation 0.8s 0.3s forwards alternate-reverse infinite;
}

.loading :nth-child(2) {
  animation: loading-animation 0.8s 0.6s forwards alternate-reverse infinite;
}

.loading :nth-child(3) {
  animation: loading-animation 0.8s 0.9s forwards alternate-reverse infinite;
}

@-webkit-keyframes loading-animation {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes loading-animation {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/*# sourceMappingURL=main.css.map */